.content{
    padding: 10px;
    background-color: yellowgreen;
    grid-area: k;
    border-bottom-right-radius: 20px;
}
.imgc img{
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}
