.dialogs{
    padding: 10px;
    display: grid;
    grid-template-columns: 4fr 10fr;
    border-bottom-right-radius: 20px;
}



.dialogsItems{
    padding: 20px;
}

.dialogsItems .dialog{
    font-family: "Yu Gothic UI Semilight";
    border: 2px solid dimgray;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}




.messages{
    padding: 20px;

}

.messages .message{
    display: block;
    max-width: 200px;
    font-family: "Yu Gothic UI Semilight";
    margin-top: 10px;
    margin-bottom: 54px;


}
.dialogsImg img{
    margin: 5px;
    vertical-align:middle;
    max-width: 60px;
    border-radius: 30px;
}

.dialogsImg {
    border-right: 2px solid gray;
}

.messageText{
    border: 1px solid gray;
    border-radius: 20px;
    padding: 7px;
    background-color: lightgoldenrodyellow;
    vertical-align:middle;

}
/*    border: 1px solid gray;
    border-radius: 20px;
    padding: 7px;
    background-color: lightgoldenrodyellow;*/